@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
}

:root {
  --blue-light: 131, 179, 211;
  --blue-dark: 104, 162, 202;
  --brown-light: 117, 98, 87;
  --brown-dark: 97, 80, 72;
  --green-light: 125, 181, 79;
  --green-dark: 108, 158, 66
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000;
  background-color: #fff;;
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header start*/

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.navigation-active {
  border-bottom: 2px solid rgba(var(--brown-light));;
}

.navigation-link:hover {
  color: rgba(var(--brown-light));
}

.navigation-link:active {
  color: rgba(var(--brown-light), 0.3);
}

.search-button {
  background: url(/images/interface/interface-search.svg) no-repeat top left;
  border: none;
}

.search-button:hover {
  background: url(/images/interface/interface-search-hover.svg) no-repeat top left;
  border: none;
}

.search-button:active {
  background: url(/images/interface/interface-search-hover.svg) no-repeat top left;
  opacity: 30%;
  border: none;
}

.bookmarks-button {
  background: url(/images/interface/interface-heart.svg) no-repeat top left;
  border: none;
}

.bookmarks-button:hover {
  background: url(/images/interface/interface-heart-hover.svg) no-repeat top left;
  border: none;
}

.bookmarks-button:active {
  background: url(/images/interface/interface-heart-hover.svg) no-repeat top left;
  opacity: 30%;
  border: none;
}

.bookmarks-number {
  width: 19px;
  height: 19px;
  font-size: 10px;
  line-height: 21px;
  color: #fff;
  background-color: #7DB550;
  border-radius: 90px;
}

.some-button {
  width: 160px;
  height: 37px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(var(--brown-light));
  border: none;
  border-radius: 4px;
}

.some-button:hover {
  background-color: rgba(var(--brown-dark));
}

.some-button:focus {
  background-color: rgba(var(--brown-dark));
  border: 3px solid rgba(var(--blue-light));
}

.some-button:active {
  background-color: rgba(var(--brown-dark));
  color: #ffffff30;
}

/*header end*/

/*titles start*/

.title-1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.title-2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

.title-3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

.title-4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

/*titles end*/

/*main content start*/

.main-index {
  text-align: center;
}

.about-banner {
  height: 485px;
  background: url(/images/main/about-welcome.svg) no-repeat 50%,
              url(/images/main/about-background.jpg) no-repeat;
  background-size: 458px 352px, cover;
}

.advantages {
  font-size: 18px;
  line-height: 21px;
}

.town-home .advantages-title::before,
.town-food .advantages-title::before,
.town-souvenir .advantages-title::before {
  content: "";
  display: block;
  height: 75px;
  width: 100%;
  background-repeat: no-repeat;
  background-position:  50%;
}

.town-home .advantages-title::before {
  background-image: url(/images/main/feature/town-home.svg);
  background-size: 75px 72px;
}

.town-food .advantages-title::before {
  background-image: url(/images/main/feature/town-food.svg);
  background-size: 74px 70px;
}

.town-souvenir .advantages-title::before {
  background-image: url(/images/main/feature/town-souvenir.svg);
  background-size: 64px 76px;
}

.advantages-card-1,
.advantages-card-5 {
  color: #fff;
  background: rgba(var(--blue-light));
}

.advantages-card-2,
.advantages-card-4,
.advantages-card-6,
.advantages-card-8 {
  background: rgba(var(--blue-light), 0.12);
}

.advantages-card-7 {
  background: rgba(var(--blue-light), 0.2);
}

.main-hotel-button {
    width: 575px;
    height: 60px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
  background-color: rgba(var(--brown-light));
}

.main-hotel-button:hover {
  background-color: rgba(var(--brown-dark));
}

.main-hotel-button:focus {
  background-color: rgba(var(--brown-dark));
  border: 3px solid rgba(var(--blue-light));
}

.main-hotel-button:active {
  background-color: rgba(var(--brown-dark));
  color: #ffffff30;
}

.main-subscription {
  color: #fff;
  height: 411px;
  background: url(/images/main/subscription-background.jpg) no-repeat;
  background-size: cover;
}

.subscription-form input{
  font-size: 18px;
  line-height: 26px;
}

.subscription-form button {
  width: 200px;
  height: 60px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(var(--blue-light));
  border: none;
  border-radius: 0px 10px 10px 0px;
}

.subscription-form button:hover {
  background-color: rgba(var(--blue-dark));
}

.subscription-form button:focus {
  background-color: rgba(var(--blue-dark));
  border: 3px solid rgba(var(--brown-light));
}

.subscription-form button:active {
  color: #ffffff30;
  background-color: rgba(var(--blue-dark));
  border: none;
}

/*main content end*/

/*catalog start*/

.catalog-filter {
  color: #fff;
  background: url(/images/catalog/catalog-background.jpg) no-repeat;
  background-size: cover;
  font-size: 18px;
  line-height: 23px;
}
  font-size: 18px;
  line-height: 23px;

}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link {
  color: #fff;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 60%;
}

.breadcrumbs-link:focus {
  border: 3px solid rgba(var(--blue-light));
  border-radius: 4px;
}

.breadcrumbs-link:active {
  opacity: 30%;
  border: none;
}

.breadcrumbs-item:not(:first-of-type)::before {
  content: ">";
  margin-right: 10px;
}

.breadcrumbs-home {
  display: block;
  width: 28px;
  height: 27px;
  background: url(/images/interface/interface-home.svg) no-repeat 50% 50%;
  box-sizing: border-box;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.filter-submit {
  width: 160px;
  height: 48px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(var(--blue-light));
  border: none;
  border-radius: 4px;
}

.filter-submit:hover {
  background-color: rgba(var(--blue-dark));
}

.filter-submit:focus {
  background-color: rgba(var(--blue-dark));
  border: 3px solid #fff;
}

.filter-submit:active {
  color: #ffffff30;
  background-color: rgba(var(--blue-dark));
  border: none;
}

.filter-reset {
  width: 100px;
  height: 32px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 700;
  color: #fff;
  background: none;
  border: none;
  border-radius: 4px;
}

.filter-reset:hover {
  opacity: 0.6;
}

.filter-reset:focus {
  border: 3px solid rgba(var(--blue-light));
}

.filter-reset:active {
  opacity: 0.3;
  border: none;
}

.result-number {
  text-transform: uppercase ;
}

.result-order {
  font-size: 18px;
  line-height: 23px;
}

.display-option-button {
  width: 48px;
  height: 48px;
  background: none;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px 16px;
}

.display-option-button:hover {
  border-color: rgba(var(--blue-light));
}

.display-option-button:focus {
  border-color: rgba(var(--blue-light));
}

.display-option-button:active {
  border-color: #000;
}

.display-option-button:disabled {
  border-color: #000;
}

.display-tile {
  background-image: url(/images/catalog/display/display-tile.svg);
}

.display-slideshow {
  background-image: url(/images/catalog/display/display-slideshow.svg);
}

.display-list {
  background-image: url(/images/catalog/display/display-list.svg);
}

.result-accommodation,
.result-price_range {
  font-size: 18px;
  line-height: 23px;
}

.result-item button {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

.result-details-button {
  width: 151px;
  height: 37px;
  background-color: rgba(var(--brown-light));
}

.result-details-button:hover {
  background-color: rgba(var(--brown-dark));
}

.result-details-button:focus {
  background-color: rgba(var(--brown-dark));
  border: 3px solid rgba(var(--blue-light));
}

.result-details-button:active {
  background-color: rgba(var(--brown-dark));
  color: #ffffff30;
}

.result-favorites-button {
  width: 160px;
  height: 37px;
  background-color: rgba(var(--blue-light));
}

.result-favorites-button:hover {
  background-color: rgba(var(--blue-dark));
}

.result-favorites-button:focus {
  background-color: rgba(var(--blue-dark));
  border: 3px solid rgba(var(--brown-light));
}

.result-favorites-button:active {
  background-color: rgba(var(--blue-dark));
  color: #ffffff30;
  border: 1px solid rgba(var(--brown-light));
}

.result-favorites-button.favourite {
  width: 160px;
  height: 37px;
  background-color: rgba(var(--green-light));
}

.result-favorites-button.favourite:hover {
  background-color: rgba(var(--green-dark));
}

.result-favorites-button.favourite:focus {
  background-color: rgba(var(--green-dark));
  border: 3px solid rgba(var(--brown-light));
}

.result-favorites-button.favourite:active {
  background-color: rgba(var(--green-dark));
  color: #ffffff30;
}

.star-1 {
  background-image: url(/images/interface/interface-star.svg);
  background-repeat: no-repeat;
  background-position: 0;
}

.star-2 {
  background-image: url(/images/interface/interface-star.svg),
                    url(/images/interface/interface-star.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 0, 28px;
}

.star-3 {
  background-image: url(/images/interface/interface-star.svg),
                    url(/images/interface/interface-star.svg),
                    url(/images/interface/interface-star.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 0, 28px, 56px;
}

.star-4 {
  background-image: url(/images/interface/interface-star.svg),
                    url(/images/interface/interface-star.svg),
                    url(/images/interface/interface-star.svg),
                    url(/images/interface/interface-star.svg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 0, 28px, 56px, 84px;
}

.star-5 {
  background-image: url(/images/interface/interface-star.svg),
                    url(/images/interface/interface-star.svg),
                    url(/images/interface/interface-star.svg),
                    url(/images/interface/interface-star.svg),
                    url(/images/interface/interface-star.svg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 0, 28px, 56px, 84px, 112px;
}

.result-rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  width: 160px;
  height: 37px;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.result-more {
  text-align: center;
}

.result-more-button {
  width: 620px;
  height: 60px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(var(--blue-light));
  border: none;
  border-radius: 4px;
}

.result-more-button:hover {
  background-color: rgba(var(--blue-dark));
}

.result-more-button:focus {
  background-color: rgba(var(--blue-dark));
  border: 3px solid rgba(var(--brown-light));
}

.result-more-button:active {
color: #ffffff30;
  background-color: rgba(var(--blue-dark));
}

.page-number-button {
  width: 55px;
  height: 55px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(var(--blue-light));
  border: none;
  border-radius: 4px;
}

.page-number-button:hover {
  }
  background-color: rgba(var(--blue-dark));

.page-number-button:focus {
  }
  background-color: rgba(var(--blue-dark));
  border: 3px solid rgba(var(--brown-light));

.page-number-button:active {
  background-color: #F2F2F2;
  color: #000;
}

.page-number-button:disabled {
  background-color: #F2F2F2;
  color: #000;
}

.result-pagination select,
.result-pagination h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-subscription {
  text-align: center;
}

/*catalog end*/

/*footer start*/

.footer {
  text-align: center;
}

.social-link {
  display: block;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-sizing: border-box;
}

.social-link:focus {
  border: 3px solid rgba(var(--blue-light));
  border-radius: 10px;
}

.twitter {
  background-image: url(/images/social/social-tw.svg);
  background-size: 18px 15px;
}

.twitter:hover {
  background-image: url(/images/social/social-tw-hover.svg);
}

.twitter:active {
  background-image: url(/images/social/social-tw-hover.svg);
  opacity: 0.3;
  border: none;
}

.facebook {
  background-image: url(/images/social/social-fb.svg);
  background-size: 10px 18px;
}

.facebook:hover {
  background-image: url(/images/social/social-fb-hover.svg);
}

.facebook:active {
  background-image: url(/images/social/social-fb-hover.svg);
  opacity: 0.3;
  border: none;
}

.youtube {
  background-image: url(/images/social/social-yt.svg);
  background-size:  20px 16px;
}

.youtube:hover {
  background-image: url(/images/social/social-yt-hover.svg);
}

.youtube:active {
  background-image: url(/images/social/social-yt-hover.svg);
  opacity: 0.3;
  border: none;
}

.footer-phone {
  color: #000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  width: 361px;
  height: 70px;
  padding: 15px;
  box-sizing: border-box;
}

.footer-phone:hover {
  color: #756157;
  text-decoration: none;
}

.footer-phone:focus {
  border: 3px solid rgba(var(--blue-light));
  border-radius: 10px;
}

.footer-phone:active {
  color: rgba(var(--brown-light));
  opacity: 0.3;
  border: none;
}

.academy-link {
  display: block;
  height: 70px;
  width: 160px;
  background-image: url(/images/academy/htmlacademy.svg);
  background-repeat: no-repeat;
  background-size: 115px 34px;
  background-position: 50% 50%;
  box-sizing: border-box;
}

.academy-link:hover {
  background-image: url(/images/academy/htmlacademy-hover.svg);
}

.academy-link:focus {
  background-image: url(/images/academy/htmlacademy-hover.svg);
  border: 3px solid rgba(var(--blue-light));
  border-radius: 10px;
}

.academy-link:active {
  background-image: url(/images/academy/htmlacademy-hover.svg);
  opacity: 0.3;
  border: none;
}

/*footer end*/
